$accent-color: rgb(220, 235, 255);

.full-screen {
  min-height: 100vh;
}

.w-100 {
  width: 40rem !important;
}

.text-input {
  width: 95%;
  border: none;
  border-radius: 5px !important;
  height: 50px;
  background-color: none!important;
}

.text-input-container{
  width: 100%!important;
}

.row-part{
  background-color: rgba(247, 247, 247, 0.705);
  border-radius: 10px;
}

.col-8{
  min-height: 100vh;
}

@media screen and (max-width: 414px) {
  .hide {
    display: none;
  }
}
