$accent-color: #46b3e6;


.btn-carousel-primary {
  border-radius: 50%;
  background-color: $accent-color;
  color: rgb(235, 235, 235);
}

.card {
  border-color: gray !important;
}

.fade-in-text {
  opacity: 0;
  transition: all 0.9s;
  transform: none;
}

.card:hover .fade-in-text {
  opacity: 1;
  transition: all 0.9s;
  transform: translateY(15px);
}

.category-card {
  transition: all 0.5s;
}

.category-card:hover {
  box-shadow: 0 6px 15px 0 #46b3e63a !important;
  transition: all 0.5s;
}

.card-last-part{
  width: 100%;
  height: 50%;
}
