<div class="container mt-3">
  <!--start of the first row-->
  <div class="row mb-5">
    <div class="col-md-8 col-sm-12 d-flex align-items-center">
      <!--carousel start-->
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/img/carousel-1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/carousel-1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="">Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!--end of carousel-->
    </div>
    <div class="col-md-4 col-sm-12">
      <!--first card-->
      <div class="custom-card first-card d-flex justify-content-end">
        <div class="mr-3">
          <span style="text-transform: capitalize;" class="text-gray">Best offer</span>
          <h5>BEST SHOES</h5>
        </div>
      </div>
      <!--end of first card-->

      <!--start of second card-->
      <div class="custom-card second-card d-flex justify-content-end">
        <div class="mr-3">
          <span style="text-transform: capitalize;" class="text-gray">Premium quality</span>
          <h5>BEST CLOTHES</h5>
        </div>
      </div>
      <!--end of second card-->
    </div>
  </div>
  <!--end of first row-->

  <!--start of the second row-->
  <div class="row bg-light p-5 ">
    <div class="col-sm">
      <div class="row">
        <div class="col-ms">
          <img src="../../assets/img/back-pack.png" class="d-block w-100" alt="...">
        </div>
        <div class="col-ms">
          <h6>STYLISH BAGS</h6>
          <div class="divider mt-4"></div>
          <div style="flex-direction: column;" class="mt-2">
            <a href="#" class="text-decoration-none"><span style="text-transform: capitalize;"
                class="text-gray text-small">> for
                men</span></a><br>
            <a href="#" class="text-decoration-none"><span style="text-transform: capitalize;"
                class="text-gray text-small">> for
                women</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-ms">
          <img src="../../assets/img/hoodie.png" class="d-block w-100" alt="...">
        </div>
        <div class="col-ms">
          <h6>SWEATER & JACKETS</h6>
          <div class="divider mt-4"></div>
          <div style="flex-direction: column;" class="mt-2">
            <a href="#" class="text-decoration-none"><span style="text-transform: capitalize;"
                class="text-gray text-small">> for men</span></a><br>
            <a href="#" class="text-decoration-none"><span style="text-transform: capitalize;"
                class="text-gray text-small">> for women</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-ms">
          <img src="../../assets/img/shoes.png" class="d-block w-100" alt="...">
        </div>
        <div class="col-ms">
          <h6>STYLISH SHOES</h6>
          <div class="divider mt-4"></div>
          <div style="flex-direction: column;" class="mt-2">
            <a href="#" class="text-decoration-none"><span style="text-transform: capitalize;"
                class="text-gray text-small">> for men</span></a><br>
            <a href="#" class="text-decoration-none"><span style="text-transform: capitalize;"
                class="text-gray text-small">> for women</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end of second row-->

  <!--start of third row-->
  <div class="mt-5 d-flex justify-content-center">
    <span class="h5">NEW ARRIVAL PRODUCT</span>
  </div>
  <div class="card-deck mt-5">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="flex-direction: row;">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mt-5">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="flex-direction: row;">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span>
        </div>
      </div>
    </div>
  </div>
  <!--end of third row-->
  <!-- start of the fourth row-->
  <div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="row d-flex align-items-center m-2">
      <div class="rounded-container d-flex justify-content-center align-items-center m-2">
        <i class="fas fa-headset icon"></i>
      </div>
      <div class="ml-2">
        <p class="h6 text-small" style="text-transform: capitalize;">25/7 customer care</p>
        <p class="text-small text-gray">call {{phoneNumber}}</p>
      </div>
    </div>
    <div class="vl hide"></div>
    <div class="row d-flex align-items-center m-2">
      <div class="rounded-container d-flex justify-content-center align-items-center m-2">
        <i class="fas fa-shipping-fast icon"></i>
      </div>
      <div class="ml-2">
        <p class="h6 text-small" style="text-transform: capitalize;">free shipping in kigali</p>
        <p class="text-small text-gray" style="text-transform: capitalize;">on order over 50k</p>
      </div>
    </div>
  </div>
  <!--end of the fourth row-->

  <!--start of third row-->
  <div class="mt-5 d-flex justify-content-center">
    <div class="row">
      <div class="hl"></div>
      <span class="h5">SPECIAL OFFERS</span>
      <div class="hl"></div>
    </div>
  </div>
  <div class="card-deck mt-5">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="flex-direction: row;">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mt-5">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/white-shirt.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="flex-direction: row;">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/many-clothes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-title">
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-accent"></i></a>
          <a href="#"><i class="fas fa-star text-gray"></i></a>
        </div>
        <a href="#" class="text-decoration-none">
          <p class="card-text text-gray">Some quick example</p>
        </a>
        <div class="divider mt-4"></div>
        <div class="mt-3">
          <span class="h6">RWF 10,000.0 </span><span class="text-gray line-through">15,000.0</span>
        </div>
      </div>
    </div>
  </div>
  <!--end of third row-->
  <!--start of last row-->
  <div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-4 col-sm-12">
      <div class="custom-card footer-men-card d-flex justify-content-start">
        <div class="ml-3">
          <p class="h6 text-gray">MEN's</p>
          <p class="h4">WEARS</p>
          <span class="text-gray h6 underline">VIEW ALL ITEMS</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="custom-card footer-women-card d-flex justify-content-start">
        <div class="ml-3">
          <p class="h6 text-gray">WOMEN's</p>
          <p class="h4">WEARS</p>
          <span class="text-gray h6 underline">VIEW ALL ITEMS</span>
        </div>
      </div>
    </div>
  </div>
  <!--end of last row-->
</div>
