.undraws {
  width: 250px;
  height: 125px;
}

.plus-icon {
  font-size: 20px;
}


.plus-btn {
  width: 42px;
  height: 42px;
  border: solid black 1px;
  border-radius: 21px;
}

.capitalized {
  text-transform: capitalize;
}

.card-columns {
  column-count: 1;
}
