<div class="body" (scroll)="onWindowScroll($event);">
  <!--start of the header-->
  <div class="z-index-1 animated fadeInDown" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light container">
      <a class="navbar-brand">FEDHA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-hover-accent" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-hover-accent" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-hover-accent" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-hover-accent" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-hover-accent" href="#">Contact us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <i class="fas fa-search text-hover-accent m-2"></i>
          <i class="fas fa-heart text-hover-accent m-2"></i>
        </form>
      </div>
    </nav>
  </div>
  <!--end of the header-->
  <router-outlet></router-outlet>
  <!--start if the footer-->
  <div class="bg-dark">
    <div class="container d-flex justify-content-around pt-3 pb-3 align-items-center">
        <span class="text-light"> © {{year}} Fedha. All rights reserved.</span>
    </div>
  </div>
  <!--end of footer-->
</div>
