<div class="body" (scroll)="onWindowScroll($event);">
  <!--start of the header-->
  <div class="z-index-1 animated fadeInDown" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light container">
      <a class="navbar-brand text-success nav-link" (click)="_changeRoute('/home')">FGA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="_changeRoute('/home')"
              [ngClass]="(currentRoute=='/home')?'text-dark':'text-gray'">Home</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" (click)="_changeRoute('/home/shop')"
                [ngClass]="(currentRoute=='/home/shop')?'text-dark':'text-gray'">Shop</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-hover-accent" (dblclick)="_changeRoute('/admin')" (click)="_changeRoute('/home/about-us')" [ngClass]="(currentRoute=='/home/about-us')?'text-dark':'text-gray'">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-hover-accent" (click)="_changeRoute('/home/contact-us')" [ngClass]="(currentRoute=='/home/contact-us')?'text-dark':'text-gray'">Contact us</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0 row mr-5 form">
          <div class="search-container" [ngClass]="(currentRoute=='/home/search')?'hide':''">
            <input class="input-container" text="text" placeholder="search" [(ngModel)]="search" (keyup.enter)="_goToSearch()"/>
            <i class="fa fa-search" id="search-icon" (click)="_goToSearch()"></i>
          </div>
          <i class="fas fa-heart text-hover-accent mr-5" [ngClass]="likedPostExists?'text-accent':'text-dark'" (click)="_goToLiked()"></i>
        </div>
      </div>
    </nav>
  </div>
  <!--end of the header-->
  <router-outlet></router-outlet>
  <!--start if the footer-->
  <div class="bg-dark">
    <div class="container d-flex justify-content-around pt-3 pb-3 align-items-center">
      <span class="text-light"> © {{year}} Fedha. All rights reserved.</span>
    </div>
  </div>
  <!--end of footer-->
</div>
